@charset "utf-8";

@media all and (max-width:1440px){ /*1201-1440*/
	#about>div>.pic1{margin-right:0;width: 470px;}
	#about>div>.pic2{width: 430px;}
}

@media all and (max-width:1200px){ /*993-1200*/
	#landing>.logo{width: 260px;height: 260px;margin:-130px;}
	#landing>.txt{margin-top: -26px;}
	#landing>.txt>span{font-size: 38px;}
	#about>div>.pic1{margin-right:-10px;width: 430px;}
	#about>div>.pic2{margin-left:40px;width: 400px;}
	#about>div>.content{padding:550px 0 30px;}
	#skills>div>ul{max-width: 500px;padding:0 30px;}
	#skills>div>ul>li{width: 100%;}
	#skills>div>ul>li>div{margin:20px 0;}
	#skills>div>ul>li>div{padding: 40px 50px;}
	#skills>div>ul>li>div>h3{display:inline-block;padding:0 15px;}
	#skills>div>ul>li>div>div{padding-top: 30px;}
	#work>.row1>.colT{width:calc(45% - 40px);padding-left:40px;}
	#work>.row2>.colT{width:calc(45% - 40px);padding-right:40px;}
}

@media all and (max-width:992px){ /*599-992*/
	header,footer{height: 50px;}
	.frameSide{top:50px;width:50px;height: calc(100vh - 100px);}
	header>div{padding: 0 50px;}
	header>div>a{width: 25px;padding: 13px 0;}
	header>div>.navBtn-wrap{margin: 17px 0;}
	nav{top:50px;right:-62px;height: calc(100vh - 100px);}
	footer>div{padding: 17px 50px;}

	#landing>.txt{left:50%;}
	#landing>.txtLeft{top:25%;}
	#landing>.txtRight{top:75%;}
	#landingQuebec>.scroll{left:47px;}
	#landingQuebec>.introtxt{right: 70px;font-size: 30px;}
	#about{width:calc(100% - 100px);}
	#about>div>.pic1{width: 360px;}
	#about>div>.pic2{width: 260px;}
	#about>div>.content{padding:500px 0 30px;}
	#about>div>.content>p{max-width: 450px;margin: 20px auto;}
	#skills{margin: 150px 50px 0;}
	#skills>div{margin-top: 80px;}
	#work{padding: 0 50px;}
	#work>.row{padding:0;margin:100px 50px 120px;}
	#work>.row>.col{width:100%;float:none;text-align: left;}
	#work>.row>.colT{width:80%;max-width:80%;padding: 0;margin:50px auto 0;text-align: center;}
	#work>.row>.colT>.wNum>span{font-size: 24px;}
	#work>.row>.colT>h3{font-size:36px;}
	#work>.row>.colT>ul{float:none;margin:20px auto 0;}
	#work>.row>.colT>ul.w-ul-4{width: 331px;}
	#work>.row>.colT>ul.w-ul-3{width: 251px;}
	#work>.row>.colT>a.myBtn{margin-top: 30px;}
	#work>.row2>.colT>.wNum>span{float:none;}
	#contact{padding: 0 50px 150px;}
	#contact>.strength{width:420px;}
	#contact>.strength>div{padding:35px 15px 25px 35px;}
	#contact>.strength>div>span{padding:35px 20px 25px 30px;}
	#contact>.strength>div>ul{margin-top: 37px;}
	#contact>.strength>div>ul>li{font-size: 14px;margin: 8px 0;}
	#contact>.mail>a{font-size: 24px;}
}

@media all and (max-width:600px){ /*0-600*/
	h2{font-size: 16px;}
	.frameSide{width: 20px;}
	header>div{padding: 0 20px;}
	footer>div{padding: 17px 20px;}
	#landing>.logo{width: 140px;height: 140px;margin:-70px;}
	#landing>.txt{margin-top: -16px;height:40px;}
	#landing>.txt>span{font-size: 23px;}
	#landingQuebec>.scroll{left:17px;}
	#landingQuebec>.scroll>.line{height: 50px;}
	#landingQuebec>.introtxt{top:110px;right: 26px;font-size: 19.5px;}
	#landingQuebec>.introtxt>div>span{margin:0 -1px;}
	#about{width:calc(100% - 40px);}
	#about span.caption{text-align: right;}
	#about>div>.pic{position: relative;width: 100%;left:0;right: 0;margin: 0;}
	#about>div>.pic1{margin-top: 100px;}
	#about>div>.pic2{margin-top: 50px;}
	#about>div>.pic2>span{text-align:right;}
	#about>div>.content{padding:50px 20px 0;text-align: left;}
	#about>div>.content>p{margin:15px 0;font-size: 14px;}
	#skills{margin: 120px 20px 0;}
	#skills>div{margin-top: 35px;}
	#skills>div>ul{padding: 0 20px;}
	#skills>div>ul>li>div{padding: 25px 30px;margin:10px 0;}
	#skills>div>ul>li>div>i>img{width: 40px;}
	#skills>div>ul>li>div>h3{padding:0 0 0 10px;font-size: 20px;}
	#skills>div>ul>li>div>div{padding-top: 15px;}
	#skills>div>ul>li>div>div>.text>p{width: 100%;font-size:12px;}
	#work{padding: 0 25px;}
	#work>.row{margin:100px 30px;}
	#work>.row3{margin-top: 200px;}
	#work>.row>.colT{width:100%;max-width:100%;}
	#work>.row>.colT>h3{font-size:28px;letter-spacing: -3px;margin-top: 20px;}
	#work>.row>.colT>ul.w-ul-4{width: auto;}
	#work>.row>.colT>ul>li{margin:5px;}
	#contact{margin:100px 0 0;padding: 0 20px 150px;}
	#contact>h2{margin-top: 100px;}
	#contact>.strength{width: calc(100% - 40px);}
	#contact>.strength>div{padding:35px 25px 20px;}
	#contact>.strength>div>h3{font-size: 16px;height: 8px;margin-top: -8px;}
	#contact>.strength>div>span{display: none;}
	#contact>.mail{margin: 50px 0;}
	#contact>.mail>a{font-size: 16px;padding:10px 0;}
	#contact>a.resume{font-size: 12px;display: block;width: calc(100% - 100px);margin:0 auto;}
	footer>div>.notice{max-width: 50%;}
}
