@charset "utf-8";
@import  "default.css";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;800&family=Montserrat:wght@400;700&display=swap');

/* General */
h2{font-size: 20px;font-weight: 800;letter-spacing: -1px;}
body{background: #f5f5f5;}
span.label{display:block;margin-bottom:10px;font-size:14px;font-family:'Montserrat', sans-serif;font-weight:700;color:#3a7bd8;letter-spacing: 0;}
span.hashtag{color:#3a7bd8;font-size:14px;font-family:'Montserrat', sans-serif;font-weight:700;}
.accent{font-weight:800;color:#3a7bd8;}

a.myBtn{position:relative;display:inline-block;width:100px;height:35px;background: #3a7bd8;}
a.myBtn>span{position:absolute;top:0;left:0;display:block;height:100%;}
a.myBtn>span.btnBlk{width:0;background: #222;}
a.myBtn>span.btnTxt{width:100%;line-height:35px;text-align:center;font-size:13px; color: #fff;letter-spacing: -0.5px;}
a.myBtnR{margin-left: 20px;background: #66cc96;}

li.circle{background: url('../img/work/w-circle.gif') 0 0 no-repeat;}
li.tri{background: url('../img/work/w-tri.gif') 0 0 no-repeat;}
li.line{background: url('../img/work/w-line.gif') 0 0 no-repeat;}



/* Landing */
#landing{background:#fff;position:relative;width: 100%;height: 100%;}
#landing>.logo{position:absolute;width: 300px;height: 300px;top:50%;left:50%;margin:-150px;}
#landing>.logo>img{width: 100%;}
#landing>.logoOut,#landing>.logoColor{display: none;}
#landing>.txt{position: absolute;width: 340px;top:50%;height: 55px;margin-top: -40px;font-family:'Montserrat', sans-serif;font-weight:700;overflow: hidden;text-align: center;}
#landing>.txt>span{display:block;font-size: 45px;position:relative;left:0;color:#66cc96;letter-spacing: 3px;}
#landing>.txtLeft{left:20%;margin-left: -170px;}
#landing>.txtLeft>span{left:100%;}
#landing>.txtRight{left:80%;margin-left: -170px;}
#landing>.txtRight>span{left:-100%;}

/* Landing Animation */
#landing>.logoInA{-webkit-animation:logoInAni 1s cubic-bezier(0.280, 0.840, 0.420, 1);-moz-animation:logoInAni 1s cubic-bezier(0.280, 0.840, 0.420, 1);-o-animation:logoInAni 1s cubic-bezier(0.280, 0.840, 0.420, 1);animation:logoInAni 1s cubic-bezier(0.280, 0.840, 0.420, 1);}
#landing>.logoOutA1{-webkit-animation:logoOutAni1 1s linear;-moz-animation:logoOutAni1 1s linear;-o-animation:logoOutAni1 1s linear;animation:logoOutAni1 1s linear;}
#landing>.logoOutA2{-webkit-animation:logoOutAni2 2s ease-out;-moz-animation:logoOutAni2 2s ease-out;-o-animation:logoOutAni2 2s ease-out;animation:logoOutAni2 2s ease-out;}

@-webkit-keyframes logoInAni{0%{transform:scale(1,1) translateY(0);}10%{transform:scale(1.1,.9) translateY(0);}30%{transform:scale(.9,1.1) translateY(-100px);}50%{transform:scale(1.05,.95) translateY(0);}57%{transform:scale(1,1) translateY(-7px);}64%{transform:scale(1,1)translateY(0);}100%{transform:scale(1,1) translateY(0); }}
@-moz-keyframes logoInAni{0%{transform:scale(1,1) translateY(0);}10%{transform:scale(1.1,.9) translateY(0);}30%{transform:scale(.9,1.1) translateY(-100px);}50%{transform:scale(1.05,.95) translateY(0);}57%{transform:scale(1,1) translateY(-7px);}64%{transform:scale(1,1)translateY(0);}100%{transform:scale(1,1) translateY(0); }}
@-o-keyframes logoInAni{0%{transform:scale(1,1) translateY(0);}10%{transform:scale(1.1,.9) translateY(0);}30%{transform:scale(.9,1.1) translateY(-100px);}50%{transform:scale(1.05,.95) translateY(0);}57%{transform:scale(1,1) translateY(-7px);}64%{transform:scale(1,1)translateY(0);}100%{transform:scale(1,1) translateY(0); }}
@keyframes logoInAni{0%{transform:scale(1,1) translateY(0);}10%{transform:scale(1.1,.9) translateY(0);}30%{transform:scale(.9,1.1) translateY(-100px);}50%{transform:scale(1.05,.95) translateY(0);}57%{transform:scale(1,1) translateY(-7px);}64%{transform:scale(1,1)translateY(0);}100%{transform:scale(1,1) translateY(0); }}
@-webkit-keyframes logoOutAni1{0%{transform:rotate(0deg);opacity: 0;} 100%{transform:rotate(360deg);opacity:0.8;}}
@-moz-keyframes logoOutAni1{0%{transform:rotate(0deg);opacity: 0;} 100%{transform:rotate(360deg);opacity:0.8;}}
@-o-keyframes logoOutAni1{0%{transform:rotate(0deg);opacity: 0;} 100%{transform:rotate(360deg);opacity:0.8;}}
@keyframes logoOutAni1{0%{transform:rotate(0deg);opacity: 0;} 100%{transform:rotate(360deg);opacity:0.8;}}
@-webkit-keyframes logoOutAni2{0%{transform:rotate(0deg);opacity: 0.8;} 100%{transform:rotate(360deg);opacity: 1;}}
@-moz-keyframes logoOutAni2{0%{transform:rotate(0deg);opacity: 0.8;} 100%{transform:rotate(360deg);opacity: 1;}}
@-o-keyframes logoOutAni2{0%{transform:rotate(0deg);opacity: 0.8;} 100%{transform:rotate(360deg);opacity: 1;}}
@keyframes logoOutAni2{0%{transform:rotate(0deg);opacity: 0.8;} 100%{transform:rotate(360deg);opacity: 1;}}

/* Landing Quebec*/
#landingQuebec{display:none;background:url(../img/landing/quebec.jpg) center bottom;background-size:cover;position:absolute;top:0;left:0;width: 100%;height: 100%;}
#landingQuebec>.introtxt{position:fixed;top:160px;right:150px;width: 470px;letter-spacing: -3px;font-weight: 300;font-size: 36px;text-align: right;}
#landingQuebec>.introtxt>div>span{display: none;margin:0 -3px;padding: 0;}
#landingQuebec>.scroll{display:none;position:absolute;top:0;left:97px;}
#landingQuebec>.scroll>.line{width: 1px;height: 80px;display: block;}
#landingQuebec>.scroll>.line:before{content: '';width: 1px;height: 50%;top: 0;background: #222;display: block;-webkit-animation: downWipe 2s ease-in-out infinite;-moz-animation: downWipe 2s ease-in-out infinite;-o-animation: downWipe 2s ease-in-out infinite;animation: downWipe 2s ease-in-out infinite;}
#landingQuebec>.scroll>.text{margin-left:-28px;margin-top:26px;transform:rotate(-90deg);font-size:9px;font-family:'Montserrat', sans-serif;font-weight:700;}
@-webkit-keyframes downWipe {0%{height: 0;}50%{height: 100%;}70%{height: 100%;transform: scaleY(0.5);transform-origin: bottom;}100%{height: 100%;transform: scaleY(0);transform-origin: bottom;}}
@-moz-keyframes downWipe {0%{height: 0;}50%{height: 100%;}70%{height: 100%;transform: scaleY(0.5);transform-origin: bottom;}100%{height: 100%;transform: scaleY(0);transform-origin: bottom;}}
@-o-keyframes downWipe {0%{height: 0;}50%{height: 100%;}70%{height: 100%;transform: scaleY(0.5);transform-origin: bottom;}100%{height: 100%;transform: scaleY(0);transform-origin: bottom;}}
@keyframes downWipe {0%{height: 0;}50%{height: 100%;}70%{height: 100%;transform: scaleY(0.5);transform-origin: bottom;}100%{height: 100%;transform: scaleY(0);transform-origin: bottom;}}

/* Frame */
header,footer{z-index:3;position:fixed;left:0;width: 100%;height: 100px;background: #fff;}
header{top:0;}
footer{bottom: 0;}
.addFrame{display: none;}
.frameSide{z-index:4;position:fixed;top:100px;width: 100px;height:calc(100vh - 200px);background: #fff;}
.frameLeft{left:0;}
.frameRight{right:0;}

/* Header */
header{}
header>div{padding: 0 100px;}
header>div>a{float: left;display: block;width: 30px;padding: 35px 0;}
header>div>a>img{width: 100%;}

/* Nav Btn */
header>div>.navBtn-wrap{float:right;width: 26px;height: 16px;margin:42px 0;transition:all 0.3s;}
header>div>.navBtn-wrap>a{}
header>div>.navBtn-wrap>a>span{position: relative;display: block;width: 100%;height: 16px;}
header>div>.navBtn-wrap>a>span>i{position:absolute;right:0;display:block;width:100%;height: 2px;background: #66cc96;transition:all 0.3s;}
header>div>.navBtn-wrap>a>span>i.navBar1{top:0;}
header>div>.navBtn-wrap>a>span>i.navBar2{top:50%;margin-top:-1px;opacity:1;}
header>div>.navBtn-wrap>a>span>i.navBar3{bottom:0;width:60%;}
header>div>.navBtn-wrap>a>span>i.navBar1.navActive{top:50%;margin-top:-1px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
header>div>.navBtn-wrap>a>span>i.navBar2.navActive{opacity:0;}
header>div>.navBtn-wrap>a>span>i.navBar3.navActive{bottom:50%;width:100%;margin-bottom:-1px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}

/* Nav */
nav{display:none;position:absolute;top:100px;right:-12px;width: 112px;height: calc(100vh - 200px);background: #66cc96;font-family:'Montserrat', sans-serif;font-weight:700;}
nav>ul{padding:10px 20px;}
nav>ul>li{text-align: center;margin:30px 0;}
nav>ul>li>a{color:#3a7bd8;opacity:1;transition: all 0.3s;}
nav>ul>li>a:hover{color:#fff;opacity:0.3;}
nav>ul>li>ul{margin-top:10px;text-align: center;}
nav>ul>li>ul>li>a{font-weight: 300;font-size: 0.8em; color:#3a7bd8;}
nav>ul>li>ul>li>a:hover{color:#3a7bd8;text-decoration: line-through;}

/* About */
#about{position:relative;margin:0 auto;width:calc(100% - 200px);height: 100%;overflow:hidden;}
#about span.caption{display:block;font-size: 10px;color:#bbb;margin-top: 3px;letter-spacing: 0.5px;}
#about>span{margin-left:3px;}
#about>div{position:relative;max-width: 1200px;margin: 0 auto;}
#about>div>.pic{display:inline-block;position: absolute;height: auto;}
#about>div>.pic>img{width:100%;}
#about>div>.pic1{right:50%;margin-right:40px;width: 550px;}
#about>div>.pic2{left:50%;margin-left:50px;width: 500px;}
#about>div>.pic1>span{text-align:right;}
#about>div>.pic2>span{text-align:left;}
#about>div>.content{padding:700px 0 30px 0;text-align: center;}
#about>div>.content>p{margin:35px 0;font-size:16px;letter-spacing: -1px;line-height:1.6;font-weight: 300;}
#about .myhide{opacity: 0;}
#about .accent{opacity: 1;}


/* Skills */
#skills{margin: 250px 100px 0;}
#skills>h2{opacity:0;text-align: center;}
#skills>div{margin-top: 100px;}
#skills>div>ul{max-width: 900px;margin: 0 auto;}
#skills>div>ul>li{opacity:0;float: left;width: 33.333%;}
#skills>div>ul>li>div{padding: 50px 40px;margin:0 20px;background: #fff;box-shadow: 0 0 20px rgba(0,0,0,0.15);border-radius: 25px;}
#skills>div>ul>li>div>i{display:inline-block;}
#skills>div>ul>li>div>i>img{margin:0 auto;width: 54px;}
#skills>div>ul>li>div>h3{padding:27px 0 40px;color: #3a7bd8;font-size:26px;line-height:1;font-family:'Montserrat', sans-serif;font-weight: 700;}
#skills>div>ul>li>div>div>.line{float:left;display: block;width:1px;background:none;}
#skills>div>ul>li>div>div>.addLine:before{-webkit-animation: skillLAni 1s ease-in-out;-moz-animation: skillLAni 1s ease-in-out;-o-animation: skillLAni 1s ease-in-out;animation: skillLAni 1s ease-in-out;content:'';width: 1px;height:100%;display: block;background: #3a7bd8;}
#skills>div>ul>li>div>div>.text{padding-left:15px;height: 100%;overflow: hidden;}
#skills>div>ul>li>div>div>.text>p{position:relative;left:calc(-100% - 15px);width:calc(100% - 15px);font-weight:300;font-size: 14px;line-height: 1.6;letter-spacing: -0.8px;}
#skills>div>ul>li>div>div>.text>p.addP{left:0;-webkit-animation: skillPAni 1s ease-in-out;-moz-animation: skillPAni 1s ease-in-out;-o-animation: skillPAni 1s ease-in-out;animation: skillPAni 1s ease-in-out;}
@-webkit-keyframes skillLAni{0%{height: 0}100%{height: 100%;}}
@-moz-keyframes skillLAni{0%{height: 0}100%{height: 100%;}}
@-o-keyframes skillLAni{0%{height: 0}100%{height: 100%;}}
@keyframes skillLAni{0%{height: 0}100%{height: 100%;}}
@-webkit-keyframes skillPAni{0%{left:calc(-100% - 15px);}100%{left:0;}}
@-moz-keyframes skillPAni{0%{left:calc(-100% - 15px);}100%{left:0;}}
@-o-keyframes skillPAni{0%{left:calc(-100% - 15px);}100%{left:0;}}
@keyframes skillPAni{0%{left:calc(-100% - 15px);}100%{left:0;}}

/* Work */
#work{overflow:hidden;margin: 350px auto 0;padding:0 100px;}
#work>h2{opacity:0;text-align: center;}
#work>.row{margin:150px 0;padding: 0 50px;}
#work>.row>.colI{opacity:0;width:55%;max-width: 680px;}
#work>.row>.colI>div{box-shadow:0 0 20px rgba(0,0,0,0.15);}
#work>.row>.colI>div>img{width: 100%;}

#work>.row>.colT>.wNum{}
#work>.row>.colT>.wNum>span{opacity:0;font-size:30px;color:#3a7bd8;font-family:'Montserrat', sans-serif;font-weight: 700;}
#work>.row>.colT>.wNum>a.myBtn{margin:0 30px;}
			.colT a.myBtn{opacity:0;}
#work>.row>.colT>h3{opacity:0;margin-top:30px;font-size:36px;line-height:1.2;letter-spacing:-4px;font-weight: 800;}
#work>.row>.colT>p{opacity:0;margin-top:15px;line-height:1.5;letter-spacing: -1px;}
#work>.row>.colT>ul{opacity:0;margin: 20px -10px 0;}
#work>.row>.colT>ul>li{display: inline-block;width:60px;height:60px;margin:10px;line-height:60px;font-size:11px;color:#888;text-align:center;}


#work>.row1>.col{float: left;}
#work>.row2>.col{float: right;}
#work>.row1>.colT{width:calc(45% - 80px);max-width: 380px;padding-left:80px;}
#work>.row2>.colT{float:right;width:calc(45% - 80px);max-width: 380px;padding-right:80px;text-align: right;}
#work>.row2>.colT>.wNum>span{float:right;}
#work>.row1>.colT>ul{float: left;}
#work>.row2>.colT>ul{float: right;}
#work>.row3{margin-top: 200px;}
#work>.row3>.colT>ul{margin:20px auto 30px;}
#work>.row3>.col{text-align: center;margin: 0 auto;}
#work>.row3>.col>p{margin:30px 0;line-height:1.3;font-size: 20px;}

/* Contact */
#contact{opacity: 0;margin:100px 0 0;padding:0 100px 250px;text-align: center;}
#contact>.strength{position:relative;width:560px;margin:0 auto;text-align: left;background: #fff;box-shadow: 0 0 20px rgba(0,0,0,0.15);border-radius: 30px;}
#contact>.strength>div{padding:60px 60px 55px 80px;}
#contact>.strength>div>h3{font-size: 20px;letter-spacing: -1px;display: inline-block;}
#contact>.strength>div>h3>i{display: block;width: 100%;height: 10px;margin-top:-10px;background: #3a7bd8;}
#contact>.strength>div>span{position:absolute;right:0;margin-right:-50px;color:#3a7bd8; font-family:'Montserrat', sans-serif;font-weight: 700;}
#contact>.strength>div>ul{margin-top: 45px;}
#contact>.strength>div>ul>li{font-size:16px;font-weight:300;margin: 10px 0;letter-spacing: -1px;}

#contact>h2{margin-top: 150px;}
#contact>.mail{margin:100px 0 50px;}
#contact>.mail>a{display: inline-block;-webkit-animation:mailAni 1s infinite;-moz-animation:mailAni 1s infinite;-o-animation:mailAni 1s infinite;animation:mailAni 1s infinite;padding:10px;font-family:'Montserrat', sans-serif;font-weight: 700;font-size:30px;opacity:1;transition:all 0.6s;}
#contact>.mail>a:hover{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px);}
@-webkit-keyframes mailAni{0%{color:#222;}50%{color:#66cc96;}100%{color:#222;}}
@-moz-keyframes mailAni{0%{color:#222;}50%{color:#66cc96;}100%{color:#222;}}
@-o-keyframes mailAni{0%{color:#222;}50%{color:#66cc96;}100%{color:#222;}}
@keyframes mailAni{0%{color:#222;}50%{color:#66cc96;}100%{color:#222;}}

/* Footer */
footer{display: none;}
footer>div{padding: 42px 100px;}
footer>div>.notice{float:left;}
footer>div>.notice>span{display:inline-block;font-size:10px;color:#aaa;}
footer>div>.link{float:right;}
footer>div>.link>ul>li{display: inline-block;}
footer>div>.link>ul>li:first-child{margin-right: 10px;}
footer>div>.link>ul>li>a{opacity:1;transition: all 0.3s;display:block;height:15px;font-size: 12px;font-family:'Montserrat', sans-serif;font-weight: 700;color:#aaaaaa;}
footer>div>.link>ul>li>a:hover{opacity:0.5;transition: all 0.3s;color:#aaaaaa;}
