@charset "utf-8";
@import  "default.css";
@import  "fonts.css";

body{font-family: 'Roboto', 'Helvetica', Sans-serif;}
h1,h2,h3,h4,h5,h6,a,span{font-family: 'Montserrat', 'Helvetica', Sans-serif;}
a{transition:all 0.3s;}
a:hover{transition:all 0.3s;}

#wrap {width:100%;}

#skip{width: 100%;position:absolute;top:0;left:0;text-align: center;}
#skip>li{line-height: 0;font-size:0;}
#skip>li>a{display:block;color:#fff;background: #000;}
#skip>li>a:focus{font-size: 20px;padding:20px 0;}

/*header*/
header{z-index:4;position:fixed;top:0;left:0;height: 74px;border-bottom: 1px solid rgba(255,255,255,0.2);width: 100%;background: transparent;text-transform: uppercase;letter-spacing: 1px;transition:all 0.3s;}
header>div{width: 100%;max-width: 1200px;box-sizing:border-box;padding:0 30px;margin: 0 auto;font-weight: 400;}
header>div a,header>div span{display:block;color:#fff;transition:all 0.3s;}
header>div a:hover,header>div span:hover{color:#aaa;transition:all 0.3s;}
header>div>.header-left{float: left;}
header>div>.header-left>div:first-child{display: inline-block;}
header>div>.header-left>div:first-child>h2{padding:20px 0;margin: 0 20px 0 0;transition:all 0.3s;}
header>div>.header-left>div:first-child>h2>a>img{width: 156px;}
header>div>.header-left>div:nth-child(2){display: inline-block;}
header>div>.header-left>div:nth-child(2)>span{display: inline-block;padding: 27px 0;}
header>div>.header-left>div:nth-child(2)>span>i{width: 1px;height: 20px;background: #fff;}
header>div>.header-left>div:last-child{display: inline-block;}
header>div>.header-left>div:last-child>div>ul>div{margin-left:8px;width: 100%;text-align: left;}
header>div>.header-left>div:last-child>div>ul>div>li{display: inline-block;margin: 0 12px;padding:30px 0;transition:all 0.3s;}
header>div>.header-left>div:last-child>div>ul>div>li>a{font-size: 12px;}

header>div>.header-right{float: right;}
header>div>.header-right>span{display:inline-block;}
header>div>.header-right>span:first-child{padding:31.5px 0;font-size:11px;}
header>div>.header-right>span:last-child{padding:18.5px 0 0 10px;}
header>div>.header-right>span:last-child>a{display:block;font-size:13px;padding:10px 13px;border: 2px solid #fff;}

/*Mobile Nav*/
header>div>.mNavBtn-wrap{display:none;z-index:5;position: absolute;top:30px;right:30px;width: 26px;height: 16px;transition:all 0.3s;}
header>div>.mNavBtn-wrap>a{}
header>div>.mNavBtn-wrap>a>span{position: relative;display: block;width: 100%;height: 16px;}
header>div>.mNavBtn-wrap>a>span>i{position:absolute;right:0;display:block;width:100%;height: 2px;background: #fff;}
header>div>.mNavBtn-wrap>a>span>i.mNavBar1{top:0;transition:all 0.3s;}
header>div>.mNavBtn-wrap>a>span>i.mNavBar2{top:50%;margin-top:-1px;opacity:1;transition:all 0.3s;}
header>div>.mNavBtn-wrap>a>span>i.mNavBar3{bottom:0;width:60%;transition:all 0.3s;}

header>div>.mNavBtn-wrap>a>span>i.mNavBar1.mNavActive{top:50%;margin-top:-1px;transform:rotate(45deg);transition:all 0.3s;}
header>div>.mNavBtn-wrap>a>span>i.mNavBar2.mNavActive{opacity:0;transition:all 0.3s;}
header>div>.mNavBtn-wrap>a>span>i.mNavBar3.mNavActive{bottom:50%;width:100%;margin-bottom:-1px;transform:rotate(-45deg);transition:all 0.3s;}

/*HeaderScroll*/
header.headerScroll{height: 60px;background: #000;transition:all 0.3s;}
header.headerScroll>div>.header-left>div:first-child>h2{padding:13px 0;transition:all 0.3s;}
header.headerScroll>div>.header-left>div:nth-child(2)>span{padding: 20px 0;transition:all 0.3s;}
header.headerScroll>div>.header-left>div:last-child>div>ul>div>li{padding:23px 0;transition:all 0.3s;}

header.headerScroll>div .header-right>span:first-child{padding:23.5px 0;font-size:11px;}
header.headerScroll>div .header-right>span:last-child{padding:11.5px 0 0 10px;}

header.headerScroll>div>.mNavBtn-wrap{top:22px;}

/*main*/
main{z-index:2;position: relative;width: 100%;}

/*repeats*/
.sc-setting{width:100%;background: #fff;}
.sc-setting>div{max-width: 1200px;padding:120px 30px;margin: 0 auto;}
.sc-title{padding-bottom: 80px;}
.sc-title>h2{font-size:40px;color:#000;font-weight: 500;display:inline-block;}
.sc-title>h2>i{display: block;margin-top:20px;background: #f15822;width: 100%;height: 6px;}
i.line2px30px{height: 2px;width: 30px;background: #f15822;}
button.btn-white{display:block;padding-top: 30px;}
button.btn-white>a{display:inline-block;color:#000;padding: 10px 22px;border: 4px solid #000;font-size: 14px;letter-spacing: 1px;transition: all .4s;}
button.btn-white>a:hover{color:#fff;background: #000;transition: all .4s;}
h3.sc-h3{font-size:18px;color:#000;font-weight:500;line-height:160%;}


/*section1 - slide*/
#section1{width: 100%;}
#section1>div{width: 100%;position: relative;overflow: hidden;}
#section1>div>ul.sc1-slide-content{z-index:1;position: relative;width: 100%;left:0;}
#section1>div>ul.sc1-slide-content>li.slide{position: absolute;top:0;width: 100%;height: 960px;}
#section1>div>ul.sc1-slide-content>li.slide1{position: relative;left:0;background: url('../img/slider/01.jpeg') no-repeat 0 0; background-size:cover;}
#section1>div>ul.sc1-slide-content>li.slide2{left:100%;background: url('../img/slider/02.jpeg') no-repeat 0 0; background-size:cover;}
#section1>div>ul.sc1-slide-content>li.slide3{left:200%;background: url('../img/slider/03.jpeg') no-repeat 0 0; background-size:cover;}
#section1>div>ul.sc1-slide-content>li:after{ content:''; display:block; z-index:1; position:absolute; top:0; left:0; width:100%; height:100%;  background:rgba(37,37,37, .7); } 
#section1>div>ul.sc1-slide-content>li .slide-eachwrap{position:relative;width: 100%;max-width: 1200px;height: 100%;margin: 0 auto;}

#section1>div>ul.sc1-slide-content>li .slide-title{z-index:2;position:absolute;top:200px;left:0;width: 100%;padding-left: 30px;}
#section1>div>ul.sc1-slide-content>li .slide-title>h2{display: inline-block;text-transform: uppercase;}
#section1>div>ul.sc1-slide-content>li .slide-title>h2>span{font-size: 100px;color:#fff;font-weight: 700;}
#section1>div>ul.sc1-slide-content>li .slide-title>h2>i{display: block;margin:80px 0;width:100%;height:8px;background: #f15822;}
#section1>div>ul.sc1-slide-content>li .slide-title>span{display:block;font-size:15px;color:#fff;text-transform:capitalize;}

#section1>div>ul.sc1-slide-nav{z-index:2;position: absolute;bottom: 50px;left:0;width:100%;height: 3px;text-align: center;}
#section1>div>ul.sc1-slide-nav>li{display: inline-block;margin: 0 5px;}
#section1>div>ul.sc1-slide-nav>li>a{padding: 10px 0;display: block;}
#section1>div>ul.sc1-slide-nav>li>a>i{display: block;width: 30px;height: 5px;background: #fff;transition:all 0.3s;}
#section1>div>ul.sc1-slide-nav>li>a:hover>i{background: #000;transition:all 0.3s;}
#section1>div>ul.sc1-slide-nav>li>a.slideNavBtActive>i{background: #f15822;}


/*section2 - about us*/
#section2>div{padding: 120px 30px 90px;}
#section2>div>.sc2-content>.sc2-left{float:left;width: 50%;}
#section2>div>.sc2-content>.sc2-left>div{padding-right:100px;}
#section2>div>.sc2-content>.sc2-left>div>div>h3{font-size:18px;color:#000;font-weight:500;line-height:160%;}
#section2>div>.sc2-content>.sc2-left>div>div>p{font-size:14px;line-height:160%;font-weight:300;padding-top:30px;font-family: 'Roboto';}

#section2>div>.sc2-content>.sc2-right{float:left;width: 50%;}
#section2>div>.sc2-content>.sc2-right>div{}
#section2>div>.sc2-content>.sc2-right>div>ul{}
#section2>div>.sc2-content>.sc2-right>div>ul>li{float:left;width: 50%;}
#section2>div>.sc2-content>.sc2-right>div>ul>li:nth-child(odd)>div{padding:0 20px 30px 0;}
#section2>div>.sc2-content>.sc2-right>div>ul>li:nth-child(even)>div{padding:0 0 30px 20px;}
#section2>div>.sc2-content>.sc2-right>div>ul>li>div>div{}
#section2>div>.sc2-content>.sc2-right>div>ul>li>div>div>i.sc2-icon{font-size:30px;color:#f15822;}
#section2>div>.sc2-content>.sc2-right>div>ul>li>div>div>h4{padding: 15px 0;color:#000;font-size: 13px;font-weight: 700;}
#section2>div>.sc2-content>.sc2-right>div>ul>li>div>div>p{padding-top:15px;font-weight: 300; font-family: 'Roboto';line-height: 160%;}

/*section3 - count*/
#section3{border-top:1px solid #ddd;}
#section3>div>ul{width:100%;}
#section3>div>ul>li{float:left;width: 25%;}
#section3>div>ul>li>div{text-align: center;}
#section3>div>ul>li>div>.sc3-count{display:block;font-size:35px; color:#000; padding-bottom:16px; font-weight:500; }
#section3>div>ul>li>div>.sc3-text {display:block;font-size:11px; }

/*section4 - summary*/
#section4{}
#section4>div{height: auto;}
#section4>div>div{height: 600px;}
#section4>div>.sc4-left{float:left;width: 50%;background: #efefef;}
#section4>div>.sc4-left>ul{padding: 40px;background: #efefef;}
#section4>div>.sc4-left>ul>li{float:left;width: 50%;}
#section4>div>.sc4-left>ul>li>div{padding: 30px 20px;text-align:center;}
#section4>div>.sc4-left>ul>li>div:hover{background:#fff;outline: 4px solid #f15822;outline-offset: -4px;}
#section4>div>.sc4-left>ul>li>div>i.sc4-icon{color:#f15822;font-size:30px;}
#section4>div>.sc4-left>ul>li>div>i.line2px30px{margin: 0 auto;}
#section4>div>.sc4-left>ul>li>div>h3{color:#000;padding: 20px 0 15px;}
#section4>div>.sc4-left>ul>li>div>p{padding-top: 15px;line-height: 1.6;}
#section4>div>.sc4-right{background:url(../img/parallax.jpg) no-repeat fixed;background-size:110vw auto;float:right;width: 50%;}

/*section5 - work*/
#section5{}
#section5>div{}
#section5>div>.sc5-header{max-width: 1200px;margin:0 auto;padding: 120px 30px 0 30px;}
#section5>div>.sc5-header>.sc-title{float:left;}
#section5>div>.sc5-header>.sc5-menu{float:right;}
#section5>div>.sc5-header>.sc5-menu>ul{margin-top:20px;}
#section5>div>.sc5-header>.sc5-menu>ul>li{display: inline-block;margin-left: 20px;}
#section5>div>.sc5-header>.sc5-menu>ul>li>a{padding: 2px 7px;}
#section5>div>.sc5-header>.sc5-menu>ul>li>a.sc5-act{background: #f15822;color:#fff;}
#section5>div>.sc5-header>.sc5-menu>ul>li>a:hover{background: #f15822;color:#fff;}

#section5>div>.sc5-gallery{}
#section5>div>.sc5-gallery>ul{position:relative;width:100%;}
#section5>div>.sc5-gallery>ul>li{position:absolute;float: left;width:25%;height: 300px;}
#section5>div>.sc5-gallery>ul>li>div{z-index:2;width:100%;height:100%;text-align: center;transform:scale(0,0);  transition:all 0.6s;}
#section5>div>.sc5-gallery>ul>li>div.sc5-zoom{transform:scale(1,1);}
#section5>div>.sc5-gallery>ul>li>div>a{}
#section5>div>.sc5-gallery>ul>li>div>a>div{width:100%;height:100%;position: relative;overflow:hidden;}
#section5>div>.sc5-gallery>ul>li>div>a>div:hover{outline:8px solid #f15822;outline-offset: -60px;}
#section5>div>.sc5-gallery>ul>li>div>a>div>img{z-index:1;width: 100%;opacity: 1;transform: scale(1);transition:all 0.6s; }
#section5>div>.sc5-gallery>ul>li>div>a>div:hover>img{opacity: 0.2;transform: scale(1.1);transition:all 0.6s; }
#section5>div>.sc5-gallery>ul>li>div>a>div>span{z-index:2;display:none;position:absolute;top:49%;left:0;width:100%;color:#000;transition:all 0.6s; }
#section5>div>.sc5-gallery>ul>li>div>a>div:hover>span{display:block;transition:all 0.6s; }

/*section6 - links*/
#section6{}
#section6>div{text-align: center;}
#section6>div>h3{font-size:18px;color:#000;font-weight:500;text-transform: uppercase;margin-bottom: 60px;}
#section6>div>ul{}
#section6>div>ul>li{display: inline-block;margin: 0 40px;}
#section6>div>ul>li>a{font-size: 60px; color: #f15822;transition:all 0.3s;}
#section6>div>ul>li>a:hover{color:rgba(241,88,34,0.5);}
#section6>div>ul>li>a>i{}
#section6>div>ul>li>span{text-transform: uppercase;letter-spacing: 2px;font-size: 11px;}

/*section7 - bar*/
#section7{}
#section7>div{}
#section7>div>div{float: left;height: 400px;}
#section7>div>.sc7-left{width: 25%;background: #000; color: #fff;}
#section7>div>.sc7-left>p{padding: 40px 30px;font-size: 30px; line-height: 1.3;font-family:'Montserrat', 'Helvetica', Sans-serif;}

#section7>div>.sc7-middle{width: 35%;background: url(../img/section7.jpeg) no-repeat 50% 50%;background-size: 110%;opacity: 0.9;outline: 6px solid rgba(255,255,255,0.7);outline-offset: -30px;}

#section7>div>.sc7-right{width: 40%;background: #efefef;}
#section7>div>.sc7-right>div{padding: 60px;}
#section7>div>.sc7-right>div>h3{font-size:14px;color:#000;font-weight:500;}
#section7>div>.sc7-right>div>ul{}
#section7>div>.sc7-right>div>ul>li{margin: 35px 0;}
#section7>div>.sc7-right>div>ul>li>.sc7-bar{width: 100%;height: 6px;background: #ccc;}
#section7>div>.sc7-right>div>ul>li>.sc7-bar>.sc7-bar-active{height: 6px;background: #000;}
#section7>div>.sc7-right>div>ul>li:nth-child(1)>.sc7-bar>.sc7-bar-active{width:95%;}
#section7>div>.sc7-right>div>ul>li:nth-child(2)>.sc7-bar>.sc7-bar-active{width:85%;}
#section7>div>.sc7-right>div>ul>li:nth-child(3)>.sc7-bar>.sc7-bar-active{width:70%;}
#section7>div>.sc7-right>div>ul>li:nth-child(4)>.sc7-bar>.sc7-bar-active{width:80%;}
#section7>div>.sc7-right>div>ul>li>span{display:block;margin-top:10px;text-transform: uppercase;letter-spacing: 2px;font-size: 11px;}

/*section8 - quotes*/
#section8{}
#section8>div{}
#section8>div>ul{}
#section8>div>ul>li{float:left;width: 33.3%;text-align: center;}
#section8>div>ul>li>div{padding: 0 40px;}
#section8>div>ul>li>div>.sc8-photo{width: 100px;height: 100px;margin: 0 auto;}
#section8>div>ul>li>div>.sc8-photo>img{width: 100%;border-radius: 50px;opacity: 0.7;}
#section8>div>ul>li>div>.sc8-text{margin-top:40px;}
#section8>div>ul>li>div>.sc8-text>p{line-height: 1.6;}
#section8>div>ul>li>div>.sc8-text>h4{padding:40px 0;color: #000;}
#section8>div>ul>li>div>.sc8-text>i{font-size: 30px;color: #f15822;}

/*section9 - partners*/
#section9{border-top:1px solid #ccc;}
#section9>div{padding-top:120px;margin: 0 auto;}

#section9>div>.sc9-header{max-width: 1200px;margin: 0 auto;padding: 0 30px;}
#section9>div>.sc9-header>.sc9-intro{float:left;width: 40%;}
#section9>div>.sc9-header>.sc9-numbers{float:right;width: 60%;}
#section9>div>.sc9-header>.sc9-numbers>ul{margin-top:150px;margin-left: 30px;}
#section9>div>.sc9-header>.sc9-numbers>ul>li{float:right;width: 33.33%;text-align: center;}
#section9>div>.sc9-header>.sc9-numbers>ul>li>div{}
#section9>div>.sc9-header>.sc9-numbers>ul>li>div>.sc9-count{display:block;font-size:35px; color:#000; padding-bottom:16px; font-weight:500; }
#section9>div>.sc9-header>.sc9-numbers>ul>li>div>.sc9-text {display:block;font-size:11px; }

#section9>div>.sc9-list{margin-top: 100px;}
#section9>div>.sc9-list>ul{width: 100%;}
#section9>div>.sc9-list>ul>li{float: left;width: 25%;height: 30vw;}
#section9>div>.sc9-list>ul>li>div{width: 100%;height:100%;position: relative;overflow: hidden;}
#section9>div>.sc9-list>ul>li>div>div.sc9-image{width:100%;height:100%;z-index:3;opacity: 0.4;text-align: center;}
#section9>div>.sc9-list>ul>li:nth-child(1)>div>div.sc9-image{background:url("../img/profile/1.jpg") no-repeat 50% 50%;background-size: cover;}
#section9>div>.sc9-list>ul>li:nth-child(2)>div>div.sc9-image{background:url("../img/profile/2.jpg") no-repeat 50% 50%;background-size: cover;}
#section9>div>.sc9-list>ul>li:nth-child(3)>div>div.sc9-image{background:url("../img/profile/3.jpg") no-repeat 50% 50%;background-size: cover;}
#section9>div>.sc9-list>ul>li:nth-child(4)>div>div.sc9-image{background:url("../img/profile/4.jpg") no-repeat 50% 50%;background-size: cover;}

#section9>div>.sc9-list>ul>li>div:hover>div.sc9-image{opacity: 1;}
#section9>div>.sc9-list>ul>li>div>div.sc9-tag{z-index:2; opacity:1; position:absolute; top:70%; left:0; width:100%; text-align:center; margin-top:-14.5px; transition:all 0.3s; }
#section9>div>.sc9-list>ul>li>div:hover>div.sc9-tag{top:-10%;opacity:0;}
#section9>div>.sc9-list>ul>li>div>div.sc9-tag>span{display:inline-block; text-transform:uppercase; padding:10px 20px; background:#fff; color:#000; font-size:13px; font-weight: 400; letter-spacing: 1px;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info{position: absolute;top:100%;width: 100%;transition:all 0.3s;}
#section9>div>.sc9-list>ul>li>div:hover>div.sc9-info{top:50%;transition:all 0.3s;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div{height:500px;padding:40px 0;text-align:center;background:#f15822;color:#000;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>h3{font-size: 16px;font-weight: 600;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>h4{margin-top:8px;font-size: 11px;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>span{}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>span>i{margin: 25px auto;height: 2px; background: #fff; width: 120px;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>a{display:inline-block;color:#000;opacity:1;font-size: 24px;margin: 0 10px;}
#section9>div>.sc9-list>ul>li>div>div.sc9-info>div>a:hover{opacity:0.4;}

/*section10 - contact us*/
#section10{border-bottom:1px solid #ccc;}
#section10>div{}
#section10>div>.sc10-desc{margin-bottom: 20px;}

#section10>div>.sc10-content>.sc10-left{float:left;width: 40%;}
#section10>div>.sc10-content>.sc10-left>ul{padding-top: 30px;}
#section10>div>.sc10-content>.sc10-left>ul>li{float:left;width: 100%;}
#section10>div>.sc10-content>.sc10-left>ul>li>div{margin: 20px 0;}
#section10>div>.sc10-content>.sc10-left>ul>li>div>.sc10-icon{display: inline-block;}
#section10>div>.sc10-content>.sc10-left>ul>li>div>.sc10-icon>i{font-size: 30px;color:#f15822;}
#section10>div>.sc10-content>.sc10-left>ul>li>div>.sc10-info{display: inline-block;padding-left: 20px;}
#section10>div>.sc10-content>.sc10-left>ul>li>div>.sc10-info>h4{color:#000;font-size:16px;margin-bottom: 10px;}
#section10>div>.sc10-content>.sc10-left>ul>li>div>.sc10-info>p{line-height: 1.4;color:#888;}

#section10>div>.sc10-content>.sc10-right{float:left;width: 60%;margin-top:30px;}
#section10>div>.sc10-content>.sc10-right>form{}
#section10>div>.sc10-content>.sc10-right>form>ul{}
#section10>div>.sc10-content>.sc10-right>form>ul>li{margin: 20px 0;width: 100%;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>.formEach{width: 100%;transition:outline .6s;outline:2px solid rgba(0,0,0,0);outline-offset:-2px;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>.formEach:focus{outline:2px solid rgba(0,0,0,1);}
#section10>div>.sc10-content>.sc10-right>form>ul>li>.textInput{}
#section10>div>.sc10-content>.sc10-right>form>ul>li>input{display:block;box-sizing:border-box;padding:0 15px;height:40px;border:1px solid #ddd; }
#section10>div>.sc10-content>.sc10-right>form>ul>li>input::placeholder{color:#aaa;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>select{-webkit-appearance:none; appearance:none; display:block;box-sizing:border-box;padding:0 15px;height:40px;border:1px solid #ddd;color:#999;background:url(../img/select-arrow.png) no-repeat 98% 50%;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>textarea{border:1px solid #ddd; resize:none; display:block; height:90px;padding:10px 15px; box-sizing:border-box;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>textarea::placeholder{color:#aaa;}
#section10>div>.sc10-content>.sc10-right>form>ul>li>button{padding-top:0;}
#section10>div>.sc10-content>.sc10-right>form>ul>li.errorText{display:none;padding-top:10px;width: 100%;text-align: center;}
#section10>div>.sc10-content>.sc10-right>form>ul>li.errorText>span{display:block;box-sizing:border-box;width:100%;padding:10px;background:red;color:white;}


/*footer*/
footer{z-index:3;position: relative;width: 100%;height: 400px;text-align: center;}
footer>div:first-child{background:#f15822; width: 100%;padding: 80px 0;}
footer>div:first-child>a{display:block;width: 160px;margin: 0 auto;}
footer>div:first-child>a>img{width: 100%;}
footer>div:first-child>p{padding:20px 0;font-family: 'Montserrat', 'Helvetica', Sans-serif;font-size: 11px;color:#fff;}
footer>div:first-child>ul{margin-top:30px;}
footer>div:first-child>ul>li{display: inline-block;}
footer>div:first-child>ul>li>a{display:block;color:#fff;opacity:1;}
footer>div:first-child>ul>li>a:hover{opacity:0.5;}
footer>div:first-child>ul>li>a>i{padding: 0 15px;font-size: 30px;}

footer>div:last-child{width: 100%;background: #000;padding: 40px 0;color:#fff;}
footer>div:last-child>h6{font-size: 10px;}
footer>div:last-child>h6>a{color:#fff;}
footer>div:last-child>h6>a:hover{color:#999;}


/*GoToTop*/
#topBtn-wrap{position: fixed;bottom: 30px;right: 30px;width: 30px;height: 30px;background: #000;z-index: 3;text-align: center;}
.topBtn{font-size: 20px;color: #fff;line-height:35px;}
.topBtn:hover{color: #fff;}


/*modal*/
#modal{display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,0.9);}
#modal>div{width: 100%;height: 100%;}
#modal>div>.modalCloseBtn{position: absolute;top:15px;right:15px;display: block;width:50px;height: 50px;}
#modal>div>.modalCloseBtn>a{display:block;width: 100%;height:100%;font-size: 60px;color:#fff;line-height: 50px;text-align: center;}
#modal>div>.modalCloseBtn>a:hover{color:#aaa;}
#modal>div>.modalPrevBtn{position: absolute;width:50px;height:50px;left:5px;top:50%;margin-top:-35px;}
#modal>div>.modalPrevBtn>a,#modal>div>.modalNextBtn>a{display:block;font-size: 60px;color:#fff;line-height: 50px;text-align: center;}
#modal>div>.modalNextBtn{position: absolute;width:50px;height:50px;right:15px;top:50%;margin-top:-35px;}
#modal>div>.modalImg{position:absolute;width:100%;margin:0 auto;top:0;left:0;text-align: center;}
#modal>div>.modalImg>img{width:70%;max-width:600px;background: #9c9;}
#modal>div>.modalImg>p>span{display: inline-block;margin-top:20px;color:#fff;background: #f15822;padding: 8px 10px;}
